# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Configuración de VS Code
.vscode/

# Configuración de PyCharm
.idea/

# Archivos del sistema macOS
.DS_Store

